body {
    background-color: #f0f0eb;
    color: #545155;
}

nav {
    background-color: #f0f0eb;
    border: 4px solid #545155;
}

nav a {
    color: #545155;
}

.bg {
    background-color: #545155;
}
