body {
    margin: 0;
    background-color: #2f3136;
    font-family: "JetBrains Mono", monospace;
    color: white;
    max-width: 800px;
    alignment: center;
    margin: auto;
}

.static {
    visibility: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    float: left;
}

.side {
    width: 10vw;
    float: left;
    margin: 1vw;
    margin-bottom: 0;
}

.bg {
    height: calc(100vh - 10vw);
    width: 1px
}

.propic {
    height: 10vw;
}

.side img {
    visibility: visible;
    display: block;
    text-align: center;
    margin: auto;
}

nav {
    z-index: -1;
    visibility: visible;
    position: absolute;
    width: 100%;
    height: 12vw;
    padding-left: 12vw;
    padding-bottom: 10px;
    float: left;
    background-color: #2f3136;
}

nav a {
    line-height: 6vw;
    float: left;
    text-decoration: none;
    margin: 3vw 20px 3vw 5px;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.o2c {
    font-size: 45px;
    font-weight: bolder
}


main {
    max-width: 100%;
    padding-top: 13vw;
    padding-left: 8vw;
}

a {
    text-decoration: none;
    color: #ffaaa6;
}
a:hover {color: #ffef5e;}
a:active {color: white;}

