:root {
    --fg: #f0f0eb;
    --bg: #333236;
    --cl: #a776c1;
    --hl: #ffff8f;
}

@media (prefers-color-scheme: light) { :root {
    --fg: #333236;
    --bg: #f0f0eb;
    --cl: #8049aa;
    --hl: #a776c1;
}}

body {
    font-family: Consolas, monospace;
    font-size: 18px;
    background-color: var(--bg);
    color: var(--fg);
    width: 1000px;
    margin: auto;
}
.top {
    position: sticky; 
    top: 0;
    padding-top: 10px; 
    margin-top: 80px;
    background-color: var(--bg);
    height: 80px;
    width: 900px;
    border-bottom: 1px solid;
}
#mobileNAV { display: none; }
.navButton { display: none; }
nav { margin-bottom: 10px; }
.title {
    font-size: 36px;
    font-weight: bold;
}
main {
    width: 850px;
    margin-top: 0;
    padding-left: 5px;
}
.indent { padding-left: 10px; }
a {
    text-decoration: none;
    color: var(--cl);
}
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px; 
    color: var(--hl); 
}