body {
    width: 100%;
    font-size: 18px;
}
nav { display: none; }
.top {
    padding: 10px 8px 5px 8px;
    width: calc(100% - 16px);
    height: auto;
}
#frog { display: none; }
.navButton { display: initial; }
.title { font-size: 24px; }
main {
    margin-top: 56px;
    width: calc(100% - 16px);
    padding: 0 8px 0 8px;
}
.link { font-size: 22px; }
